/* inizio stile header*/
header {
    background-color: rgb(77, 124, 255);

}

#logo-pic {
    height: 30px;

}
/* fine stile header*/
/* inizio main*/
.gray-color {
    color: rgb(116, 116, 116);
}
.blue-color {
    color: rgb(26, 221, 221);
}
.little-font {
    font-size: 10px;
}
.photo {
    height: 250px;

}
.little-font {
    font-size: 10px;
}
.yellow-color {
    background-color: rgb(247, 247, 29);

}
.left {
    nav-left: auto;
}